* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.table {
    max-width: 500px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    gap: 2px;
    box-shadow: 0 0 5px rgb(53, 17, 97);
}


.box {
    width: 16px;
    height: 16px;
    background: #2b2b2b;
    box-shadow: 0 0 2px red;
    transition: 2s ease;
}

.box:hover {
    transition-duration: 0.01s;
}